h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 16px;
}

body {
  background-color: black;
  text-align: center;
}

h2 {
  color: white;
  font-family: verdana;
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

video {
  display: block;
  margin: 0 auto;
}

div {
  color: gray;
  text-align: right;
}
